../.DS_Store
.DS_Store
code/src/.DS_Store
report/report/.DS_Store
/report/_minted_main
/report/*.log
/report/*.aux
/report/content.pdf
/report/*.bbl
/report/*.bcf
/report/*.blg
/report/*.out
/report/*.xml
/report/*.gz
/report/*.toc
/report/*.xwm
report/LICENSE
report/settings/packages.aux
report/settings/preferences.aux
report/templates/FiraCode-Regular.otf
report/templates/bibpage.aux
report/templates/gost-numeric.bbx
report/templates/titlepage.aux
../.DS_Store
report/_minted/
../003-ns-heattransfer/.DS_Store
../004-img-proc/.DS_Store
../.DS_Store
analysis/exact_vs_error.pdf
../003-ns-heattransfer/.DS_Store
../004-img-proc/.DS_Store

