/report/_minted_main
/report/*.log
/report/*.aux
/report/content.pdf
/report/*.bbl
/report/*.bcf
/report/*.blg
/report/*.out
/report/*.xml
/report/*.gz
/report/*.toc
/report/*.xwm
report/LICENSE
report/settings/packages.aux
report/settings/preferences.aux
report/templates/FiraCode-Regular.otf
report/templates/bibpage.aux
report/templates/gost-numeric.bbx
report/templates/titlepage.aux
report/templates/tocpage.aux
../../.DS_Store
../.DS_Store
.DS_Store
